<html>
    <head>
        <body>
            <h1>Welcome to Pepsi Purchases!</h1> 
                <br>
                <br> <a href="{{url_for('addcustomer')}}" type="button">Add New Customer</a> </br>
                <br>
                <br> <a href="{{url_for('read_customers')}}" type="button">View Customers</a> </br>
                <br>
                <br> <a href="{{url_for('read_products')}}" type="button">View Products</a> </br>
                <br>
                <br> <a href="{{url_for('read_purchases')}}" type="button">View Purchases</a> </br>
                <br>
            </div>
        </body>
    </html>