<html>
    <head>
        <title>Pepsi Purchases</title>
    </head>
    <body>
        <h1>Products List</h1>
        <p>All Current Products and their Quantities</p>
        <div>
            <table style="width:50%">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                </tr>
                {% for q in product %}
                <tr>
                    <td>{{ q.product_name }}</td> 
                    <td>{{ q.product_quantity }}</td>
                    <td> <a href ="/updateproduct/{{q.id}}">Update This Product</a></td>
                    <td> <a href ="/deleteproduct/{{q.id}}">Delete This Product</a></td>
                </tr> {% endfor %}
            </table>
        <br> <a href="{{url_for('home')}}">Cancel</a>
    </body>
</html>